.product_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem 2.5rem;
	gap: 1rem;
	.product {
		position: relative;
        padding: 1.5rem;
        text-align: center;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 220px;
		height: 300px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
			rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		img {
			width: 100%;
		}
		.title {
			color: #253d4e;
			font-size: 1.2rem;
			font-weight: 400;
		}
		.add_cart {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 0.5rem;
			p {
				font-weight: 500;
				font-size: 1.2rem;
			}
			.cart_icn {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                padding: 2px 6px;
                border-radius: 2px;
				cursor: pointer;
				.icn {
					font-size: 1.2rem;
                    color: #02b290;
				}
				.remove_icn {
					font-size: 1.2rem;
                    color: #e30e0e;
				}
			}
		}
	}
	.in_stock {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 0.8rem;
		background-color: #10b981;
		padding: 5px 10px;
		color: #fff;
		border-radius: 15px;
	}
}
