.quick_delivery {
    margin-top: 2rem;
    background-color: #10b981;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    @media(max-width: 700px) {
        flex-direction: column;
    }
    h1 {
        color: #fff;
        font-size: 3rem;
        @media(max-width: 700px) {
            font-size: 2rem;
        }
    }
    p {
        color: #fff;
        margin-top: 1rem;
    }
    &>div {
        flex: 0 1 50%;
    }
    &>div:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}